<style media="screen">
    footer {
        color: white;
        padding: 5em;
        background: #202020;
    }

    .footer-link { padding: 5px; }

    .fa-youtube { color: #c4302b; }
    .fa-facebook { color: #3b5998; }
    .fa-instagram { color: #d6249f; }
    .fa-twitter { color: #00acee; }
    .fa-discord { color: #7289da; }

    .logo-size { font-size: 20px; }
</style>

<footer>
    <section class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <h2 class="footer-title">About</h2>
                <div class="text-primary">
                    <div class="footer-link"><a href="#">Contributors</a></div>
                    <div class="footer-link"><a href="#">More</a></div>
                    <div class="footer-link"><a href="#">Advertising</a></div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <h2 class="footer-title">Social</h2>
                <div class="text-primary logo-size" style="display: inline-block;">
                    <span class="footer-link"><a href="https://www.facebook.com/Animeko-101129927954000/" target="_blank"><i class="fab fa-facebook"></i></a></span>
                    <!-- <span class="footer-link"><a href="#"><i class="fab fa-twitter"></i> Coming Soon</a></span> -->
                    <span class="footer-link"><a href="https://www.instagram.com/animekoanimequote/" target="_blank"><i class="fab fa-instagram"></i></a></span>
                    <span class="footer-link"><a href="https://www.youtube.com/channel/UCAPVfZL3iP8ViPVjxeFZQwg" target="_blank"><i class="fab fa-youtube"></i></a></span>
                    <span class="footer-link"><a href="#" target="_blank"><i class="fab fa-discord"></i> Coming Soon </a></span>

                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <form>
                    <h2 class="footer-title">Got a suggestion?</h2>
                    <div class="form-group">
                        <div class="">COMING SOON, if you have any enquiries, then fb message our page.</div>
                        <!-- <div>Got a quote you would like to see on our website? Any enquiries? Email us</div> -->
                        <input type="email" class="form-control" id="" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn bg-primary">Submit</button>
                </form>
            </div>
        </div>
    </section>
</footer>
