<style media="screen">
    footer {
        color: white;
        padding: 5em;
        background: #202020;
    }

    .footer-link { padding-bottom: 5px; }
</style>

<footer>
    <section class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <h2 class="footer-title">About</h2>
                <div class="text-blue">
                    <div class="footer-link"><a href="#">Contributors</a></div>
                    <div class="footer-link"><a href="#">More</a></div>
                    <div class="footer-link"><a href="#">Advertising</a></div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <h2 class="footer-title">Social</h2>
                <div class="text-blue">
                    <div class="footer-link"><a href="https://www.facebook.com/Animeko-101129927954000/" target="_blank"><i class="fab fa-facebook"></i></a></div>
                    <div class="footer-link"><a href="#"><i class="fab fa-twitter"></i></a></div>
                    <div class="footer-link"><a href="#"><i class="fab fa-instagram"></i> Coming Soon</a></div>
                    <div class="footer-link"><a href="#"><i class="fab fa-discord"></i> Coming Soon</a></div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <form>
                    <h2 class="footer-title">Got a suggestion?</h2>
                    <div class="form-group">
                        <div class="">COMING SOON, if you have any enquiries, then fb message our page.</div>
                        <!-- <div>Got a quote you would like to see on our website? Any enquiries? Email us</div> -->
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn bg-blue">Submit</button>
                </form>
            </div>
        </div>
    </section>
</footer>
