{% extends 'layout.html' %}

{% block body %}
  <style media="screen">
    :root {
      --primary: rgb(73, 11, 227);
    }

    h2 { font-size: 1.65rem; line-height: 1.25; }

    code {
      color: var(--primary);
      border-radius: 3px;
      border: 0.5px solid rgb(242, 242, 242);
      background-color: rgb(250, 250, 250);
      padding: 0px 0.25rem;
      font-size: 0.875rem;
      font-weight: 500;
    }

    .hr {
      padding: 0.5em 0;
      /* border-bottom: 1px solid #eaecef; */
    }
    pre.prettyprint {
      border-radius: 6px;
      border: 1px solid #eaecef;
    }
    pre {
      background-color: rgb(250, 250, 250);
    }

    .nav {
      overflow-y: scroll;
      border-bottom: 1px solid #eaecef;
    }

    .method {
      padding: .25rem .5rem;
      margin-right: .5rem
    }

    .endpoint {
      color: #476582;
      padding: .25rem .5rem;
      margin-left: .5rem
      font-size: .85em;
      background-color: rgba(27,31,35,.05);
      border-radius: 3px;
    }

    .sidebar {
        border-right: 1px solid #eaecef;
    }

    .div-endpoint {
      border-bottom: 1px solid #eaecef;
      margin: 5rem 2.5rem;
      padding-bottom: 5rem;
    }

    .endpoint-title { padding-bottom: 10px; }

    .param-title {
      font-weight: 500;
      padding-right: .5em;
    }
    .text-bold { font-weight: 700; }
    .text-semi { font-weight: 500; }
    .text-disable { color: #476582; }

  </style>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 bg-white sticky-top sidebar">
        <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right">
          ANIMEKO
        </a>
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
          {% for item in doc.data %}
          <li class="nav-item">
            <a href="#{{ item.title }}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
        </div>
      </div>
      <div class="col-md-9 p-3 min-vh-100">
        {% for item in doc.data %}
        <div class="row g-0 div-endpoint" id="{{ item.title }}">
          <div class="col-md-6">
            <h2 class="endpoint-title">{{ item.title }}</h2>
            <div class="mb-3">
              <span class="method text-bold">{{ item.requestMethod }}</span><code class="endpoint">{{ item.endpoint }}</code>
            </div>

            <div class="mb-5">{{ item.description|safe }}</div>

            <div class="mb-5">
              <div class="text-bold mb-3"> Parameters </div>
              {% for param in item.parameters %}
                <div class="hr">
                  <span class="param-title">{{ param.param }}</span>
                  <span class="text-disable">{{ param.optional }}</span>
                  <div class="param-desc">{{ param.description|safe }}</div>
                </div>
              {% endfor %}
            </div>

            <div class="mb-5">
              <span class="text-bold mb-3"> JSON Schema </span>
              <code class="">{{ item.schema.responseContentType }}</code>
              <div class="">
                {% for param in item.schema.schema %}
                  <div class="hr">
                    <span class="param-title">{{ param.param }}</span>
                    <span class="text-disable">{{ param.type }}</span>
                    <div class="param-desc">{{ param.description|safe }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="text-bold mb-3"> Usage </div>
            <code class="endpoint">{{ doc.base }}{{ item.example.url }}</code>
          </div>
          <div class="col-md-6">
            <pre class="prettyprint">
            {{ item.example.ret }}
            </pre>
          </div>
        </div>
        {% endfor %}

        {% for item in doc.type %}
        <div class="div-endpoint mb-5">
          <div class="" id="{{ item.id }}">
            <h2 class="endpoint-title">{{ item.id }}</h2>

            <div class="text-bold mb-3"> Schema </div>
            {% for param in item.schema %}
              <div class="mb-2">
                <span class="param-title">{{ param.param }}</span>
                <span class="text-disable">{{ param.type }}</span>
                <div class="param-desc">{{ param.description|safe }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}

        {% include 'footer.html' %}
      </div>
    </div>
  </div>

{% endblock %}
