{% extends 'layout.html' %}

{% block body %}

    <style media="screen">

        .title {
            text-align: center;
            margin-bottom: 2em;
        }

        .card {
            border-radius: 7px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        .card:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
        .card-title { font-size: 18px; }

        .card-img-overlay {
            /* background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        }

        .card-img-overlay:hover {
            background: none;
        }

        .qotd-image {
            border-radius: 7px;
        }
        .qotd-quote {
            font-style: italic;
        }
        .qotd-character {

        }


        .features-title { margin-bottom: 25px; }
        .features-text { line-height: 1.4 }
    </style>

        <section class="header text-white center-wrapper">
            <div class="center-content">
                <h1 class="text-center">Animeko</h1>
                <h1 class="text-center">Read from over {{ total_quotes }} quotes</h1>
                <div class="row no-gutters mt-5">
                    <div class="col-sm-6">
                        <a href="{{ url_for('quote') }}" class="btn btn-outline-white text-white" type="button">Start Reading</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ url_for('anime') }}" class="btn bg-white text-blue" type="button">Search For Anime</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="social-banner row no-gutters mb-25">
            <div class="col-sm-4">
                <div class="fb-like" data-href="https://www.facebook.com/Animeko-101129927954000/" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
            </div>
            <div class="col-sm-8">
                <span class="text-center text-white social-text">
                    <h3>Like our FB Page!</h3>
                </span>
            </div>
        </div>

        <section class="container">

            <section id="advertising-1"></section>

            <section>
                <h2 class="title">Features</h2>
                <div class="row no-gutters text-center">
                    <div class="col-lg-4 mb-3 pr-2 pl-2">
                        <h3 class="features-title">Read From Anywhere</h3>
                        <p class="features-text">
                            Enjoy getting inspirations and motivation from home, outside,
                            where ever and where ever.
                        </p>
                    </div>
                    <div class="col-lg-4 mb-3 pr-2 pl-2">
                        <h3 class="features-title">Revisit Favourite Quotes</h3>
                        <p class="features-text">
                            Want I place to read your favourite anime characters quotes?
                            Right here all in one place.
                        </p>
                    </div>
                    <div class="col-lg-4 mb-3 pr-2 pl-2">
                        <h3 class="features-title">Get Inspiration</h3>
                        <p class="features-text">
                            Our main goal is to provided y'all with inspiration from
                            quotes from your beloved characters
                        </p>
                    </div>
                </div>
            </section>

            <section>
                <h2 class="title">Top Anime</h2>

                <div class="row no-gutters mr-auto ml-auto mb-5">
                    {% for anime in popular_animes %}
                        <div class="col-lg-4">
                            <a href="{{ url_for('anime', name=anime.name) }}">
                            <div class="card h-100 text-white">
                                <img class="card-img" src="https://www.dropbox.com/s/{{ anime.image }}?raw=1" style="height: inherit;">
                                <div class="card-img-overlay">
                                  <div class="card-title">{{ anime.name }}</div>
                                </div>
                            </div>
                            </a>
                        </div>
                    {%  endfor %}
                </div>
            </section>

            <section>
                <h2 class="title">Enjoy this quote :)</h2>

                <div class="row no-gutters">
                    <div class="col-lg-6 mb-5">
                        <img class="qotd-image" src="https://www.dropbox.com/s/{{ quote_of_the_day['image'] }}?raw=1" alt="" style="width: 100%;">
                    </div>
                    <div class="col-lg-6 pl-5 pr-5 center-wrapper">
                        <div class="center-content">
                            <h2 class="qotd-quote">"{{ quote_of_the_day['quote']|safe }}"</h2>
                            <h3 class="qotd-character">~ {{ quote_of_the_day['character'] }}</h3>
                        </div>
                    </div>
                </div>
            </section>

        </section>
{% endblock %}
