<nav id="nav" class="navbar navbar-expand-md" style="">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='icon.png') }}" width="50" height="50" class="d-inline-block align-top" style="border-radius: 7px;">
        <div class="" style="display: inline-block; position: relative; padding-bottom: 7px; padding-left: 5px;">
            <img src="{{ url_for('static', filename='logo.png') }}" height="18" class="" style="position: absolute;">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars text-white"></i></button>
    <div class="collapse navbar-collapse" id="nav">
        <div class="navbar-nav" style="padding-left: 100px;">
            <a class="nav-item nav-link" href="{{ url_for('quote') }}">Read Quotes</a>
            <a class="nav-item nav-link" href="{{ url_for('quote_of_the_day') }}">Quote of the day</a>
            <a class="nav-item nav-link" href="{{ url_for('anime') }}">Anime</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
        </div>
    </div>
</nav>
<script type="text/javascript">
    let change = "{{ nav_change }}"
    if(change) { document.getElementById('nav').style.background = `${change}`; }
    $(window).scroll(function(){
        $('nav').toggleClass('scrolled', $(this).scrollTop()>50);
        $('nav').toggleClass('text-blue', $(this).scrollTop()>50);
    });
</script>
