{% extends 'layout.html' %}

{% block body %}
    <style media="screen">
        .card {
            border: 0;
            border-bottom: 1px solid grey;
        }

        /* .character {
            border-radius: 7px;
            width: 75%;
        } */

        .header {
            background-image:
                linear-gradient(315deg,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 74%),
                url("https://www.dropbox.com/s/{{ anime.image }}?raw=1");
            padding-top: 100px;
            padding-left: 100px;
            margin-bottom: 25px;
        }

        .quote-hearted { color: pink; }

        .center-image {
            width: 100%;
            border-radius: 7px;
        }
        .character-icon {
            width: 100%;
        }

    </style>

    <section class="header text-white">
        <h1 class="text-bold box-shadow">{{ anime.name }}</h1>
    </section>

    {% include "tableOfContent.html" %}

    <section class="container">
        <div class="mb-25">
            <h3 class="">See a quote you like? Give it a <i class="fas fa-heart quote-hearted"></i></h3>
            <span>For best experience, use Google Chrome or Firefox, NOT incognito</span>
            <span id="result"></span>
        </div>
        <div class="row mb-25">
            <div class="col-lg-8">
                {% for character in anime.characters %}
                <div id="{{ character.name }}" class="card">
                    <div class="card-body">
                        <img src="https://www.dropbox.com/s/{{ character.image }}?raw=1" class="center-image mb-3">
                        <h3 class="text-center">{{ character.name }}</h3>
                        <ul class="list-group list-group-flush">
                            {% for quote in character.quotes %}
                                <li class="list-group-item">
                                    <p class="text-bold">{{ quote.quote|safe }}</p>
                                    {% for tag in quote.tags %}
                                        <span class="badge badge-secondary">{{ tag }}</span>
                                    {%  endfor %}
                                    <span>
                                        <i class="fas fa-heart heart-quote" data-id="{{ quote.id }}"></i>
                                        <span id="{{ quote.id }}">{{ quote.likes }}</span>
                                    </span>
                                </li>
                            {%  endfor %}
                        </ul>
                    </div>
                </div>
                {%  endfor %}
            </div>
            <div class="col-lg-4">
                <div class="fb-page mb-25" data-href="https://www.facebook.com/Animeko-101129927954000/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/Animeko-101129927954000/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/Animeko-101129927954000/">Animeko Facebook</a>
                    </blockquote>
                </div>

                <div class="">
                    <h2 class="text-center">Coming Soon</h2>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">

        let quotes = document.getElementsByClassName('heart-quote');
        let hearts = null;
        const key = 'hearts';
        const url = 'https://animeko.herokuapp.com';
        const upvoteUrl = `${url}/api/upvote`;
        const downvoteUrl = `${url}/api/downvote`;

        function start() {
            loadHeartedQuotesDB();
            generateHearts();
        }

        function keyExistInLocalStorage(key) { return localStorage.getItem(key); }
        function getKeyInLocalStorage(key) {
            let tmp = JSON.parse(localStorage.getItem(key));
            return [...new Set(tmp)];
        }

        function loadHeartedQuotesDB() {
            if(!keyExistInLocalStorage(key)) {
                localStorage.setItem(key, "[]");
            }
            hearts = getKeyInLocalStorage(key);
        }

        function generateHearts() {
            hearts = getKeyInLocalStorage(key);
            for (var i = 0; i < quotes.length; i++) {
                if(hearts.includes(String(quotes[i].getAttribute("data-id")))) {
                    quotes[i].classList.add('quote-hearted');
                }
            }
        }

        let heartQuote = function() {
            let quote_id = this.getAttribute("data-id");
            loadHeartedQuotesDB();      // When ever get, if for some reason hearts not in LS then init
            hearts = getKeyInLocalStorage(key);
            hearts = [...new Set(hearts)];

            if(!hearts.includes(quote_id)) {
                fetch(`${upvoteUrl}?id=${quote_id}`, { 'method': 'POST' })
                    .then(r => r.json())
                    .then(json => {
                        let quote = document.getElementById(quote_id);
                        quote.innerText = `${json.likes}`;
                    });
                hearts.push(quote_id);
                this.classList.add('quote-hearted');
            } else {
                fetch(`${downvoteUrl}?id=${quote_id}`, { 'method': 'POST' })
                    .then(r => r.json())
                    .then(json => {
                        let quote = document.getElementById(quote_id);
                        quote.innerText = `${json.likes}`;
                    });
                const index = hearts.indexOf(quote_id);
                if (index > -1) { hearts.splice(index, 1); }
                this.classList.remove('quote-hearted');

            }
            localStorage.setItem('hearts', JSON.stringify(hearts));
        };

        if (typeof(Storage) !== "undefined") {
            (async () => {
                var is_private;

                if ("storage" in navigator && "estimate" in navigator.storage) {
                    const { usage, quota } = await navigator.storage.estimate();
                    console.log(`Using ${usage} out of ${quota} bytes.`);
                    if (quota < 120000000) {
                        document.getElementById("result").innerHTML = "To use heart, don't be on incognito";
                    } else {
                        window.onload = start;    // Get hearts, or init one
                        for (var i = 0; i < quotes.length; i++) {
                            quotes[i].addEventListener('click', heartQuote, false);
                        }
                        document.getElementById("result").innerHTML = "Enjoy";
                    }
                } else {
                    document.getElementById("result").innerHTML = "You seem to be using incognito or unsupported browser";
                }
            })();
        } else {
            document.getElementById("result").innerHTML = "You seem to be using incognito or unsupported browser";
        }
    </script>
{% endblock %}
