{% extends 'layout.html' %}

{% block body %}
    <style media="screen">
        .quote-of-the-day {
            padding-top: 100px;
            padding-left: 100px;
        }

        .social-banner {
            position: absolute;
            bottom: 0;
        }

        #bg {
            -webkit-box-shadow: inset 0px 0px 150px 0px rgba(0,0,0,1);
            -moz-box-shadow: inset 0px 0px 150px 0px rgba(0,0,0,1);
            box-shadow: inset 0px 0px 150px 0px rgba(0,0,0,1);
        }
    </style>

    <div id="bg" class="header">
        <div class="quote-of-the-day">
            <div class="fb-post" data-href="https://developers.facebook.com/permalink.php?story_fbid={{ posts['quote_of_the_day']['story_fbid'] }}&amp;id={{ posts['quote_of_the_day']['id'] }}" data-show-text="false" data-width="750">
                <blockquote cite="" class="fb-xfbml-parse-ignore">
                    <p>Quote of the Day</p>
                    <a href="https://www.facebook.com/Animeko-101129927954000/">Animeko</a>
                    <a href="https://developers.facebook.com/permalink.php?story_fbid={{ posts['quote_of_the_day']['story_fbid'] }}&amp;id={{ posts['quote_of_the_day']['id'] }}"></a>
                </blockquote>
            </div>
        </div>
        <div class="social-banner row no-gutters">
            <div class="col-sm-4">
                <div class="fb-like" data-href="https://www.facebook.com/Animeko-101129927954000/" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
            </div>
            <div class="col-sm-8">
                <span class="text-center text-white social-text">
                    <h3>Wanna read more? Like and visit our FB Page</h3>
                </span>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        {% for post in posts['data'] %}
        <div class="col-lg-6">
            <div class="fb-post" data-href="https://developers.facebook.com/permalink.php?story_fbid={{ post['story_fbid'] }}&amp;id={{ post['id'] }}" data-show-text="false">
                <blockquote cite="https://developers.facebook.com/permalink.php?story_fbid=132571884809804&amp;id=101129927954000" class="fb-xfbml-parse-ignore">
                    <p>Quote of the Day</p>
                    <a href="https://www.facebook.com/Animeko-101129927954000/">Animeko</a>
                    <a href="https://developers.facebook.com/permalink.php?story_fbid={{ post['story_fbid'] }}&amp;id={{ post['id'] }}"></a>
                </blockquote>
            </div>
        </div>
        {%  endfor %}
    </div>


{% endblock %}
