<section class="container mb-25">
    <h2 class="text-bold">Characters</h2>
    <div class="row no-gutters">
        {% for character in anime.characters %}
        <div class="col-lg-6">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <img src="https://www.dropbox.com/s/{{ character.image }}?raw=1" class="character-icon">
                </div>
                <div class="col-lg-8 center-wrapper">
                    <div class="center-content">
                        <a href="#{{ character.name }}"><h3>{{ character.name }}</h3></a>
                    </div>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
</section>
